@page
@model Ganaderia.App.Presentacion.Pages.ListModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<h1>Listado de ejemplares - @Model.usuario</h1>


<table class="table">
    <tr class="table-success">
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo</th>
    </tr>

    @foreach (var ganadero in Model.Ganaderos)
    {
        <tr class="bg-primary">
            <td>@ganadero.Nombres</td>
            <td>@ganadero.Apellidos</td>
            <td>@ganadero.Correo</td>
        </tr>
    }




</table>