@page
@model Ganaderia.App.Presentacion.Pages.RegisterModel
@{
}
<h2>Registro de ganadero</h2>

<form>
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Nombres">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Apellidos">
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Numero de telefono">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Correo">
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Contraseña">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Repita contraseña">
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Latitud">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Longitud">
        </div>
    </div>

    <button type="button" class="btn btn-success">Registrarse</button>
</form>


<div class="container">
  <div class="row">
    <div class="col-10">
      1 of 3
    </div>
    <div class="col">
      2 of 3 (wider)
    </div>
    
  </div>
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col-5">
      2 of 3 (wider)
    </div>
    <div class="col">
      3 of 3
    </div>
  </div>
</div>